@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Vujahday+Script&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SECTION 1 - NAVBAR */
.navbar .nav-item {
  position: relative;
}

.nav-item::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  height: 2px;
  width: 0;
  transition: 0.4s ease-in;
}

.nav-link:hover {
  color: #806c6c;
}

.nav-item:hover::before {
  width: 85%;
  background-color: #806c6c;
}

/*  MEDIA QUERIES NAVBAR LINK */
@media screen and (min-width: 992px) {
  .navbar .nav-item {
    font-size: 1.1em;
    padding: 15px 13px;
  }
}
@media screen and (min-width: 1300px) {
  .navbar .nav-item {
    font-size: 1.3em;
    padding: 15px 22px;
  }
}
/* SECTION 1 - LANDING PANEL */
.landing-panel {
  margin-top: 50px;
  /*background-image: url(images/contactcover2.jpg);*/
  background-image: linear-gradient(rgba(87, 55, 19, 0.726), rgba(114, 103, 86, 0.438)), url(images/slice-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 80vh;
}
.landing-panel h1 {
  font-weight: normal;
  font-family: "Vujahday Script", cursive;
}

@media screen and (max-width: 576px) {
  .landing-panel {
    width: 100%;
    height: 25vh;
  }
  .landing-panel h1 {
    letter-spacing: 12px;
    font-size: 2.5em;
  }
}
@media screen and (min-width: 576px) {
  .landing-panel {
    height: 30vh;
  }
  .landing-panel h1 {
    letter-spacing: 18px;
    font-size: 3em;
    font-weight: normal;
  }
}
@media screen and (min-width: 758px) {
  .landing-panel h1 {
    letter-spacing: 30px;
    font-size: 3.9em;
  }
}
@media screen and (min-width: 992px) {
  .landing-panel h1 {
    letter-spacing: 30px;
    font-size: 4.5em;
  }
}
@media screen and (min-width: 1300px) {
  .landing-panel {
    height: 40vh;
  }
  .landing-panel h1 {
    letter-spacing: 30px;
    font-size: 5em;
  }
}
/* SECTION 2 - CONTACT FORM */
@media screen and (max-width: 576px) {
  .contact-form {
    width: 100%;
  }
  .contact-form h2 {
    letter-spacing: 4px;
    font-size: 1.3em;
    font-weight: normal;
    padding: 1.5% auto;
    line-height: 35px;
  }
  .contact-form .left-side-form {
    margin: auto 8%;
    width: 85%;
  }
  .form-picture img {
    width: 80%;
    height: 55%;
  }
}
@media screen and (min-width: 576px) {
  .contact-form {
    width: 100%;
  }
  .contact-form h2 {
    letter-spacing: 10px;
    font-size: 1.7em;
    font-weight: normal;
    padding: 2% auto;
  }
  .contact-form .left-side-form {
    margin: auto 15%;
    width: 75%;
  }
  .contact-form .right-side-form img {
    width: 470px;
    height: 600px;
  }
}
@media screen and (min-width: 768px) {
  .contact-form {
    width: 100%;
  }
  .contact-form h2 {
    letter-spacing: 10px;
    font-size: 1.4em;
    font-weight: normal;
    padding: 2% auto;
  }
  .contact-form .left-side-form {
    width: 44%;
    margin: auto 2%;
  }
  .right-side-form {
    width: 47%;
    overflow: hidden;
    margin-left: 2%;
  }
  .right-side-form img {
    width: 310px;
    height: 600px;
  }
}
@media screen and (min-width: 992px) {
  .contact-form {
    width: 100%;
  }
  .contact-form h2 {
    letter-spacing: 7px;
    font-size: 1.8em;
    font-weight: normal;
  }
  .left-side-form {
    width: 45%;
  }
  .right-side-form img {
    width: 420px;
    height: 650px;
  }
}
@media screen and (min-width: 1300px) {
  .contact-form {
    width: 100%;
  }
  .contact-form h2 {
    letter-spacing: 10px;
    font-size: 2.1em;
    font-weight: normal;
  }
  .contact-form .left-side-form {
    width: 28%;
  }
  .right-side-form {
    width: 32%;
  }
  .right-side-form img {
    width: 560px;
    height: 800px;
  }
}
/* SECTION 3 - INFORMATION CARDS */
.information-panel {
  overflow: hidden;
  background-color: #a38c8c;
  width: 100%;
}
.information-panel .card {
  background-color: transparent;
  border: transparent;
}

@media screen and (max-width: 576px) {
  .information-panel {
    height: 65vh;
  }
  .information-panel .card {
    margin-top: 2%;
    width: 17rem;
    height: 8rem;
  }
  .information-panel .card .bi {
    font-size: 1.8em;
  }
  .information-panel .card .card-title {
    font-size: 1.2em;
  }
  .information-panel .card .card-text {
    font-size: 1em;
  }
}
@media screen and (min-width: 576px) {
  .information-panel {
    height: 50vh;
  }
  .information-panel .card {
    width: 20rem;
    padding-top: 25px;
  }
  .information-panel .card .bi {
    font-size: 2em;
  }
  .information-panel .card .card-title {
    font-size: 1.2em;
  }
  .information-panel .card .card-text {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 768px) {
  .information-panel .card {
    width: 15rem;
    height: 14rem;
    padding-top: 40px;
  }
  .information-panel .card .card-title {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 992px) {
  .information-panel {
    width: 100%;
    height: 35vh;
    padding: 0;
  }
  .information-panel .card {
    width: 18rem;
  }
  .information-panel .card .bi {
    font-size: 2.4em;
  }
  .information-panel .card .card-title {
    font-size: 1.5em;
  }
  .information-panel .card .card-text {
    font-size: 1.2em;
  }
}
@media screen and (min-width: 1300px) {
  .information-panel {
    height: 30vh;
  }
  .information-panel .card {
    padding: 10% auto;
    width: 28rem;
  }
  .information-panel .card .bi {
    font-size: 2.5em;
  }
}
/* SECTION 4 - GOOGLE CARD  */
.maps-card {
  filter: grayscale(100%);
}

/* SECTION 5 - FOOTER  */
.footer-informations {
  margin-top: 150px;
  margin-bottom: 70px;
}
.footer-informations .card-title {
  font-family: "Vujahday Script", cursive;
  word-spacing: 3.58px;
  letter-spacing: 3.5px;
}
.footer-informations .footer-card-link:hover {
  font-weight: bolder;
}
.footer-informations .footer-card-link:hover a:hover {
  color: #806c6c;
}
.footer-informations .bi-facebook {
  color: #3b5998;
  color: rgb(59, 89, 152);
}
.footer-informations .bi-linkedin {
  color: #007bb6;
  color: rgb(0, 123, 182);
}
.footer-informations .bi-instagram {
  color: #bc2a8d;
  color: rgb(188, 42, 141);
}
.footer-informations .bi-twitter {
  color: #00aced;
  color: rgb(0, 172, 237);
}

@media screen and (max-width: 576px) {
  .copyright {
    font-size: 7em;
  }
}
@media screen and (min-width: 992px) {
  .card-title {
    font-size: 1.8em;
  }
}
.copyright {
  background-color: #806c6c;
}
.copyright .CL {
  font-family: "Vujahday Script", cursive;
}/*# sourceMappingURL=contact.css.map */