@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Vujahday+Script&display=swap');

$background-color:#806c6c; 
$main-border-color:#806c6c; 
$quote-police: 'Homemade Apple', cursive; 
$main-title-police:'Vujahday Script', cursive;


/* SECTION 1 - NAVBAR */

.navbar {

  .nav-item {
    position: relative;
  }

}


.nav-item::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  height: 2px;
  width: 0;
  transition: 0.4s ease-in;
}

.nav-link:hover {
  color: #806c6c;
}
.nav-item:hover::before {
  width: 85%;
  background-color: #806c6c;
}


/*  MEDIA QUERIES NAVBAR LINK */

@media screen and (min-width:992px) {

  .navbar {
    .nav-item {
      font-size: 1.1em;
      padding: 15px 13px;
    }
  }
}

@media screen and (min-width:1300px) {

  .navbar {
    .nav-item {
      font-size: 1.3em;
      padding: 15px 22px ;
    }
  }
}













.information-panel {
  background-color: #bba691;
  width: 100%;
  height: 40vh;

    .card {
      background-color: transparent;
      border: none;

        .bi {
          font-size: 4em;
        }
        .card-title {
          font-size: 1.7em;
        }
        .card-text {
          font-size: 1.2em;
        }
    }
}













/* SECTION 5 - FOOTER  */


.footer-informations {
  margin-top: 150px;
  margin-bottom: 70px;
  
    .card-title {
      font-family: $main-title-police ;
      word-spacing: 3.58px;
      letter-spacing: 3.5px;
    }
  
    .footer-card-link:hover {
      font-weight: bolder;
  
      a:hover{
        color: #806c6c;
      }
    }
  
    .bi-facebook {
      color: #3b5998; color: rgb(59, 89, 152);
    }
    .bi-linkedin {
      color: #007bb6; color: rgb(0, 123, 182);
    }
    .bi-instagram{
      color: #bc2a8d; color: rgb(188, 42, 141);
    }
    .bi-twitter{
      color: #00aced; color: rgb(0, 172, 237);
    }
  
  }  
  
  @media screen and (max-width:576px) {
  .copyright {
    font-size: 7em;
  }
  }
  
  @media screen and (min-width:992px) {
  .card-title {
    font-size: 1.8em;
  }
  }
  
  .copyright {
  background-color: #806c6c;
  
  .CL {
    font-family: $main-title-police ;
  }
  
  }
  