@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Vujahday+Script&display=swap');

$background-color:#806c6c; 
$main-border-color:#806c6c; 
$quote-police: 'Homemade Apple', cursive; 
$main-title-police:'Vujahday Script', cursive;


*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* SECTION 1 - NAVBAR */

.navbar {

  .nav-item {
    position: relative;
  }

}


.nav-item::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  height: 2px;
  width: 0;
  transition: 0.4s ease-in;
}

.nav-link:hover {
  color: #806c6c;
}
.nav-item:hover::before {
  width: 85%;
  background-color: #806c6c;
}


/*  MEDIA QUERIES NAVBAR LINK */

@media screen and (min-width:992px) {

  .navbar {
    .nav-item {
      font-size: 1.1em;
      padding: 15px 13px;
    }
  }
}

@media screen and (min-width:1300px) {

  .navbar {
    .nav-item {
      font-size: 1.3em;
      padding: 15px 22px ;
    }
  }
}


/* SECTION 2 - LANDING PANEL */

.landing-panel {
  margin-top: 50px;
  background-image: url(images/contactcover2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 65vh;

    h1 {
      font-weight: normal;
      font-family: $main-title-police;
    }
}


@media screen and (max-width:576px) {

  .landing-panel {
    width: 100%;
    height: 27vh;
  
      h1 {
        letter-spacing: 10px;
        font-size: 2.5em;
      }
  }
}

@media screen and (min-width:576px) {

  .landing-panel {
    width: 100%;
    height: 40vh;
  
      h1 {
        letter-spacing: 9px;
        font-size: 3em;
        font-weight: normal;
      }
  }
}

@media screen and (min-width:758px) {

  .landing-panel {

      h1 {
        letter-spacing: 30px;
        font-size: 4em;
      }
  }
}

@media screen and (min-width:992px) {

  .landing-panel {

      h1 {
        letter-spacing: 30px;
        font-size: 4.5em;
      }
  }
}

@media screen and (min-width:1300px) {

  .landing-panel {

      h1 {
        letter-spacing: 30px;
        font-size: 5em;
      }
  }
}



/* SECTION 3 - FORM SECTION */

@media screen and (max-width:576px) {

  .contact-form {
    width: 100%;
  
      h2 {
        letter-spacing: 4px;
        font-size: 1.4em;
        font-weight: normal;
        padding: 2% auto;
        line-height: 40px;
      }

      .left-side-form {
        margin: auto 8%;
        width: 85%;
    
      }
  }

  .form-picture {

    img {
      width: 85%;
      height: 80%;
    }
  }
}

@media screen and (min-width:576px) {

  .contact-form {
    width: 100%;
  
      h2 {
        letter-spacing: 10px;
        font-size: 1.7em;
        font-weight: normal;
        padding: 2% auto;
      }

      .left-side-form {
        margin: auto 15%;
        width: 75%;
    
      }

      .right-side-form {


        img {
          width: 470px;
          height: 600px;
        }
    }
  }
}

@media screen and (min-width:768px) {

  .contact-form {
    width: 100%;
  
      h2 {
        letter-spacing: 10px;
        font-size: 1.4em;
        font-weight: normal;
        padding: 2% auto;
      }

      .left-side-form {
        width: 44%;
        margin: auto 2%;
      }
  }

  .right-side-form {

    width: 48%;
    overflow: hidden;

    img {
      width: 330px;
      height: 600px;
    }
  }
}

@media screen and (min-width:992px) {

  .contact-form {
    width: 100%;
  
      h2 {
        letter-spacing: 7px;
        font-size: 1.8em;
        font-weight: normal;
      }
  }

  .left-side-form {
    width: 45%;

  }

  .right-side-form {

        img {
          width: 420px;
          height: 650px;
        }
    }

}

@media screen and (min-width:1300px) {

  .contact-form {
    width: 100%;
  
      h2 {
        letter-spacing: 10px;
        font-size: 2.1em;
        font-weight: normal;
      }

      .left-side-form {
        width: 28%;
      }
  
  }


  .right-side-form {
    width: 32%;

        img {
          width: 560px;
          height: 800px;
        }
    }
}





/* SECTION 3 - INFORMATION CARDS */

.information-panel {
  overflow: hidden;
  background-color: #bba691;
  width: 100%;
    .card {
      background-color: transparent;
      border: none;
    }
}

@media screen and (max-width:576px) {
  .information-panel {
    height: 97vh;

    .card {
      margin-top: 2%;
      height: 11rem;

        .bi {
          font-size: 1.8em;
        }
        .card-title {
          font-size: 1.2em;
        }
        .card-text {
          font-size: 1em;
        }
    }
  }  
}

@media screen and (min-width:576px) {
  .information-panel {
    width: 100%;
    height: 60vh;
  
      .card {
        min-width: 17rem;
        width: 17rem;
        height: 14rem;
        padding-top: 30px;
  
          .bi {
            font-size: 2em;
          }
          .card-title {
            font-size: 1.3em;
          }
          .card-text {
            font-size: 1.1em;
          }
      }
  }
}


@media screen and (min-width:992px) {
  .information-panel {
    width: 100%;
    height: 35vh;
    padding: 0;
  
      .card {
        width: 10rem;
          .bi {
            font-size: 2.5em;
          }
          .card-title {
            font-size: 1.5em;
          }
          .card-text {
            font-size: 1.2em;
          }
      }
  }
}

@media screen and (min-width:1300px) {
  .information-panel {
    width: 100%;
    height: 35vh;
  
      .card {
        width: 24rem;
          .bi {
            font-size: 3em;
          }
          .card-title {
            font-size: 1.8em;
          }
          .card-text {
            font-size: 1.2em;
          }
      }
  }
}

/* SECTION 4 - GOOGLE CARD  */

.maps-card {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}





/* SECTION 5 - FOOTER  */


.footer-informations {
  margin-top: 150px;
  margin-bottom: 70px;
  
    .card-title {
      font-family: $main-title-police ;
      word-spacing: 3.58px;
      letter-spacing: 3.5px;
    }
  
    .footer-card-link:hover {
      font-weight: bolder;
  
      a:hover{
        color: #806c6c;
      }
    }
  
    .bi-facebook {
      color: #3b5998; color: rgb(59, 89, 152);
    }
    .bi-linkedin {
      color: #007bb6; color: rgb(0, 123, 182);
    }
    .bi-instagram{
      color: #bc2a8d; color: rgb(188, 42, 141);
    }
    .bi-twitter{
      color: #00aced; color: rgb(0, 172, 237);
    }
  
  }  
  
  @media screen and (max-width:576px) {
  .copyright {
    font-size: 7em;
  }
  }
  
  @media screen and (min-width:992px) {
  .card-title {
    font-size: 1.8em;
  }
  }
  
  .copyright {
  background-color: #806c6c;
  
  .CL {
    font-family: $main-title-police ;
  }
  
  }
  